
            <thead class="gradient_bg">
              <tr class="small text-uppercase">
                <th scope="col" title="Version Transaction ID" style="color:white">{{ _('TX ID') }}</th>
                <th scope="col" title="UTC Time" style="color:white">{{ _('Expiration Time') }}</th>
                <th scope="col" title="Transaction Type" style="color:white">{{ _('Type') }}</th>
                <th scope="col" title="Sender Address" style="color:white">{{ _('Sender') }}</th>
                <th scope="col" width="20" style="color:white; text-align:center">---&gt;</th>
                <th scope="col" title="Receiver Address" style="color:white">{{ _('Receiver') }}</th>
                <th scope="col" title="Transfer Amount" style="color:white">{{ _('Amount') }}</th>
                <th scope="col" title="Transaction Fee" style="color:white">{{ _('TX Fee') }}</th>
              </tr>
            </thead>
