{% extends "layout.html" %}
{% block content %}


<section class="space-bottom-2">
  <div class="container">

    <div class="row justify-content-around">

      <div class="card mb-1">
        <h6 class="card-header text-uppercase">{{meta.network_name}}</h6>
        <div class="card-body">
          <h5 class="small text-uppercase font-weight-medium text-secondary mb-0">{{ _('Address') }}</h5>
          <p class="card-text text-warning font-weight-bold">{{meta.host}}</p>
          <h2 class="small text-uppercase font-weight-medium text-secondary mb-0">{{ _('Port') }}</h2>
          <p class="card-text text-warning font-weight-bold">{{meta.port}}</p>
        </div>
      </div>

      <div class="card mb-1">
        <h6 class="card-header text-uppercase">{{ _('Network Time') }}</h6>
        <div class="card-body">
          <h2 class="small text-uppercase font-weight-medium text-secondary mb-0">{{ _('Started Time') }}</h2>
          <p class="card-text text-info font-weight-bold"><span id="start_time">{{meta.start_time_str}}</span></p>
          <h2 class="small text-uppercase font-weight-medium text-secondary mb-0">{{ _('Latest Time') }}</h2>
          <p class="card-text text-info font-weight-bold"><span id="latest_time">{{meta.latest_time_str}}</span></p>
        </div>
      </div>

      <div class="card mb-1">
        <h6 class="card-header text-uppercase">{{ _('Statistics') }}</h6>
        <div class="card-body">
          <h5 class="small text-uppercase font-weight-medium text-secondary mb-0">{{ _('TOTAL TRANSACTIONS') }}</h5>
          <p class="card-text text-warning font-weight-bold">{{meta.total_transactions_format}}</p>
          <h2 class="small text-uppercase font-weight-medium text-secondary mb-0">{{ _('Validator Count') }}</h2>
          <p class="card-text text-warning font-weight-bold"><a href="/accounts#validators">{{meta.validators_count}}</a></p>
        </div>
      </div>

    </div>

    <br/>

    <div class="card">
      <div class="card-body px-0">


        <div class="d-flex align-items-center px-3 mb-3">
          <h2 class="h6 mb-0">{{ _('Latest Transactions') }}</h2>
          <div class="ml-auto">
            <a class="btn btn-outline-info" href="/transactions">{{ _('View All') }}</a>
          </div>
        </div>


        <div class="table-responsive mb-3 border box-shadow rounded">
          <table class="table mb-0  table-striped table-hover">
            {% include '_tx_head.html' %}
            <tbody id="txs_body">
              {% include '_txs.html' %}
            </tbody>

          </table>
        </div>

{% if meta.latest_start > 0 %}
        <div class="d-flex align-items-center px-3 mb-3">
          <div class="mx-auto" id="loadMore">
            <a class="btn btn-outline-info" href="#." onclick="load_latest()">{{ _('Load More Transactions') }} ...</a>
            <img src="//www.moveonlibra.com/images/loading.gif" id="loading" style="display:none"/>
          </div>
        </div>
{% endif %}


      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block js_content %}
<script type="text/javascript">
  latest_start = {{meta.latest_start}};
  function load_latest() {
    var limit = 50
    $("#loading").show();
    if(latest_start < limit){
      start = 0
      limit2 = latest_start
    }else{
      start = latest_start - limit;
      limit2 = limit
    }
    jQuery.ajax({
      url: "/latest_txs?start="+start + "&limit="+ limit2
    })
      .done(function (data) {
        $("#loading").hide();
        $("#txs_body").append(data);
        latest_start -= limit
        if(latest_start <=0 ){
          $("#loadMore").hide();
        }
      });
  }
</script>

  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"
      crossorigin="anonymous"></script>


<script>
  //moment.locale("cn")
  $(document).ready(function(){
    var start_time = moment("{{meta.start_time_str}}").format('YYYY-MM-DD, HH:mm:ss');
    $('#start_time').html(start_time);
    var latest_time = moment("{{meta.latest_time_str}}").format('YYYY-MM-DD, HH:mm:ss');
    $('#latest_time').html(latest_time);
  });

</script>
{% endblock %}
