<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Libra Blockchain Explorer, support libra testnet and any other libra-swarm">
    <title>Libra Explorer powered by MoveOnLibra</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script
      src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js" crossorigin="anonymous"></script>
    <style>
      .gradient_bg {
        background-image: linear-gradient(180deg, #536bbb 0%, rgb(131, 144, 241) 100%);
      }
    </style>

  </head>

  <body>


    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <a href="https://www.moveonLibra.com" target="_blank"><img src="/static/mol_60.png" alt="Move On Libra" id="site-logo"></a>
      <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">{{ _('Home') }}</a>
        <a class="p-2 text-dark" href="/transactions">{{ _('Transactions') }}</a>
        <a class="p-2 text-dark" href="/accounts">{{ _('Accounts') }}</a>
        <a class="p-2 text-dark" href="https://github.com/MoveOnLibra/LibraExplorer"><svg height="16" class="octicon octicon-mark-github" viewBox="0 0 16 16" version="1.1" width="16" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>{{ _('Source') }}</a>
      </nav>
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#networkModal">
        {{ _('Select Network') }}
      </button>
    </div>


<main id="content" role="main">
  <div class="container mb-4">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="row justify-content-around">
      {% for message in messages %}
        <pre class="text-danger">{{ message }}</pre>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="py-3">
      <form class="input-group mb-2" action="/search" method="GET" autocomplete="off" spellcheck="false">
      <input type="search" name="q" class="form-control" placeholder="Search by Address / Transaction ID (Version)" required="" autocomplete="off">
      <div class="input-group-append">
      <button class="btn btn-primary" type="submit" aria-label="search">{{ _('Search') }}
      </button>
      </div>
      </form>
  </div>
  </div>

  {% block content %}{% endblock %}
</main>


<!-- Modal -->
<div class="modal fade" id="networkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ _('Select Libra Network') }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ _('Current Network') }}:</p>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="">{{network}}</span>
          </div>
          <input type="text" class="form-control col-md-6" value="{{network_address}}" readonly="readonly">
          <input type="text" class="form-control col-md-3" value="{{network_port}}" readonly="readonly">
        </div>
        <hr/>
        <p>{{ _('Change Network') }}:</p>
{% if network != "Testnet" %}
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
            <input type="radio" aria-label="Testnet" name="network" value="Testnet">
            </div>
          </div>
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Testnet</span>
          </div>
          <input type="text" class="form-control col-md-6" value="ac.testnet.libra.org" readonly="readonly">
          <input type="text" class="form-control col-md-3" value="8000" readonly="readonly">
        </div>
        <br/>
{% endif %}
{% if network != "Devnet" %}
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
            <input type="radio" aria-label="Devnet" name="network" value="Devnet">
            </div>
          </div>
          <div class="input-group-prepend">
            <span class="input-group-text" id="">Devnet</span>
          </div>
          <input type="text" class="form-control col-md-6" value="apitest.moveonLibra.com" readonly="readonly">
          <input type="text" class="form-control col-md-3" value="33333" readonly="readonly">
        </div>
        <br/>
{% endif %}
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
            <input type="radio" aria-label="Other"  name="network" value="Other">
            </div>
          </div>
          <div class="input-group-prepend">
            <span class="input-group-text" id="">&nbsp;{{ _('Other') }}&nbsp;</span>
          </div>
          <input id="network_ip" type="text" class="form-control col-md-6" placeholder="Hostname/IP address">
          <input id="network_port" type="number" class="form-control col-md-3" placeholder="AC port">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('Cacel') }}</button>
        <button type="button" class="btn btn-primary" onclick="changeNetwork()">{{ _('Change Network') }}</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function changeNetwork(){
    var network = $('input[name=network]:checked').val();
    if(network){
      if(network == "Testnet"){
        window.location = "//explorer.moveonLibra.com"
      }else if(network == "Devnet"){
        window.location = "//devnet.explorer.moveonLibra.com"
      }else if(network == "Other"){
        var network_ip = $('#network_ip').val();
        var network_port = $('#network_port').val();
        if(network_ip && network_port){
          var url = "http://"+network_ip+"-"+network_port+".explorer.moveonLibra.com"
          //alert("You are leave this site to another website: "+url);
          window.location = url;
        }else{
          alert("Please input network address and port for other network.")
        }
      }else{
        console.log("Unknown network"+network);
      }
      $('#networkModal').modal('hide');
    }
  }
</script>

<style>
    footer .footer-bottom.slim {
      padding-top: 20px;
      position: relative;
    }
    footer .footer-bottom.slim .copyright {
      text-align: center;
      margin-top: 0px;
      margin-bottom: 20px;
    }
    footer .footer-bottom .copyright {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #F3F8FF;
      letter-spacing: 1.7px;
      text-align: left;
      margin-top: -15px;
      margin-bottom: 50px;
    }
</style>

<footer id="contact" style="background-image: linear-gradient(134deg, #516093 0%, #7A88F1 100%);">
    <div class="footer-bottom slim">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="copyright" style="color: white">2019 © Developed and hosted by <a href="https://www.MoveOnLibra.com" style="color: white"><strong>Move On Libra</strong></a></p>
          </div>
        </div>
      </div>
    </div>
</footer>

  </body>
</html>