{% extends "layout.html" %}
{% block title %}{{ _('Libra') }} {{ _('Transaction') }} ({{network}}){% endblock %}

{% block content %}

<div class="text-center">
    <h4 class="mt-3">{{ _('Transactions') }}</h4>
</div>


<section class="space-bottom-2">
<div class="container">

  {% include '_txs_pager.html' %}

  <div class="table-responsive mb-3 border box-shadow rounded">
    <table class="table mb-0  table-striped table-hover">
    {% include '_tx_head.html' %}
    <tbody>
      {% include '_txs.html' %}
    </tbody>

    </table>
  </div>

  {% include '_txs_pager.html' %}


</div>
</section>


{% endblock %}
